.movies-list .card {
	height: 100%;
}
.card-item {
	position: relative;
	text-overflow: ellipsis;
}

.movies-list .card {
	cursor: pointer;
	/* box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.5); */
}

.movies-list .card:hover {
	cursor: pointer;
	transition: 0.5s;
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.5);
}

.card:hover .card-item__like-btn {
	visibility: visible;
	/* transition: 0.7s; */
	/* opacity: 1; */
}

.card:hover .CircularProgressbar {
	visibility: visible;
	/* transition: 0.7s; */
	/* opacity: 1; */
	/* transform: scale(1.03); */
}

.CircularProgressbar {
	cursor: default;
	visibility: hidden;
}

.card-item__like-btn {
	visibility: hidden;
	border: 0;
	border-radius: 50%;
	background-color: #ffffff;
	color: red;
	position: absolute;
	top: 15px;
	right: 30px;
}

.card-item__like-btn:hover {
	position: absolute;
	top: 15px;
	right: 30px;
	background-color: red;
}

.card__progressbar {
	position: absolute;
	top: 340px;
	right: 20px;
}

.--active {
	background-color: red;
}
